<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Benjamin Kanerva</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        I’m a second year BIT student in Laurea university of applied sciences in Tikkurila. In my studies I have
        focused
        specifically on web and mobile development. Now I hope to find a job where I can practice my skills that I
        learned
        in school.
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>