<ion-header>
  <ion-toolbar>
    <ion-title>Team Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gym Diary</ion-card-title>
      <ion-card-subtitle><a href="https://github.com/benjaminkan/gym-diary">Github link</a></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      A Gym Diary that we developed on PHP/SQL course.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Arkiapu</ion-card-title>
      <ion-card-subtitle><a href="https://github.com/benjaminkan/labwork8-9">Github link</a></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      An app that we developed on Mobile App Design and Development course.
    </ion-card-content>
  </ion-card>

</ion-content>