<ion-header>
  <ion-toolbar>
    <ion-title>Projects</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-content>
      On this page I am listing my Personal and Team Projects. You can find them by clicking the tabs.
    </ion-card-content>
  </ion-card>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab3">
        <ion-icon name="person"></ion-icon>
        <ion-label>Personal Projects</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab4">
        <ion-icon name="people"></ion-icon>
        <ion-label>Team Projects</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>