<ion-header>
  <ion-toolbar>
    <ion-title>Technical Skills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>MS Office Software</ion-item>
    <ion-progress-bar value="0.9"></ion-progress-bar>
    <ion-item>HTML & CSS</ion-item>
    <ion-progress-bar value="0.85"></ion-progress-bar>
    <ion-item>JavaScript</ion-item>
    <ion-progress-bar value="0.6"></ion-progress-bar>
    <ion-item>Photoshop</ion-item>
    <ion-progress-bar value="0.5"></ion-progress-bar>
    <ion-item>Node.js</ion-item>
    <ion-progress-bar value="0.4"></ion-progress-bar>
    <ion-item>Express.js</ion-item>
    <ion-progress-bar value="0.4"></ion-progress-bar>
    <ion-item>Ionic</ion-item>
    <ion-progress-bar value="0.35"></ion-progress-bar>
    <ion-item>Linux</ion-item>
    <ion-progress-bar value="0.3"></ion-progress-bar>
    <ion-item>PHP & SQL</ion-item>
    <ion-progress-bar value="0.2"></ion-progress-bar>
    <ion-item>Java</ion-item>
    <ion-progress-bar value="0.15"></ion-progress-bar>
    <ion-item>Angular</ion-item>
    <ion-progress-bar value="0.1"></ion-progress-bar>
  </ion-list>
</ion-content>